src/main/mule/helloworld.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:http="http://www.mulesoft.org/schema/mule/http" xmlns="http://www.mulesoft.org/schema/mule/core"
	xmlns:doc="http://www.mulesoft.org/schema/mule/documentation"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd">
	<http:listener-config name="HTTP_Listener_config" doc:name="HTTP Listener config" doc:id="180a1339-9ed4-4481-adde-9cf93b6666f4" >
		<http:listener-connection host="0.0.0.0" port="8080" />
	</http:listener-config>
	<flow name="helloworldFlow" doc:id="0d9070fa-1691-4eaf-861e-0e2024c089a6" >
		<http:listener doc:name="Listener" doc:id="3dfd9da5-74c7-420f-b965-27da6fa58428" config-ref="HTTP_Listener_config" path="/Helloworld"/>
		<set-payload value='#["Hello India Testing"]' doc:name="Set Payload" doc:id="4bc8f96b-2b48-4859-8bfe-586b9691c28d" />
	</flow>
</mule>
